.list-group-item input[type=text] {
    width: 100%;
    margin-bottom: 15px;
}
.completado {
    text-decoration: line-through;
    font-style: italic;
    color: gray;
}
.icon-size
{
    font-size: 87px;
}

small {
    font-size:11px;
}
